[Unit]
Description = key

[Service]
ExecStart = /home/tonnsama/key/bin/start-key.sh
Restart = always
RestartSec = 10
Type = simple

[Install]
WantedBy = multi-user.target
